.bod{
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
}

.container {
  max-width: 850px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-title {
  text-align: center;
  color:green;
  font-size: 2em;
  margin-left: 5px;
  border-bottom: 4px solid rgb(41, 163, 41);
}

.cart-subtitle {
  color: #555;
  margin-bottom: 80px;
}

.cart-items {
  list-style-type: none;
  padding: 0;

}

.cart-item {
 
  display: flex;
  align-items: center;
  padding: 15px;
 
}

.cart-item:last-child {
  border-bottom: none;
}
.icon-button {
  background: none;
  border:orangered;
  border-style:initial;
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
  color:orangered; /* Default color */
}

.icon-button:hover {
  color: #007b
}
.prroduct-image {
  width: 100px;
  height: 105px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.item-details {
  flex-grow: 1;
}

.item-actions {
  display: flex;
  flex-direction: column;
}

.item-actions button {
  margin: 5px 0;
}

.buttonn {
  background-color: #ff4b5c;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttonn:hover {
  background-color: #ff1c3d;
}

.total-amount {
  text-align: right;
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color:#ff4b5c;
  border-top: 4px solid green;
}

@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-actions {
    align-self: flex-end;
  }
}
.buttoonn {
  background-color: green;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.buttounn {
  background-color:cornflowerblue;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.logout{
  background-color: red;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
.buy-button{
  background-color: green;
  border: none;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 600px;
 
  margin-left: 40px;
  
}
.ji{
  color:darkslategray;
  font-weight:bold;

}